@import './../../../assets/scss/colors';
p {
    color:$blue;
    background-color:$light-gray;

}
div {
    border:1px solid $blue;
    p {
        border:1px solid $black

    }
    &:hover{
        border :40px solid $yellow
    }

}